/* Standard Elements */
html {font-size:100.01%; height: 100%; margin: 0}
body {font-size:100%; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1; margin: 0; min-height: 100% !important;}
h1, h2, h3 {color:#222222;}
h1 {font-size:3em; margin-bottom:0.5em;}
h2 {font-size:2em; margin-bottom:0.75em;}
h3 {font-size:1.5em; margin-bottom:1em;}
p {margin:0 0 1.5em; color: #797979;}
em {font-style:italic;}
a:link {color: blue; text-decoration: none;}
a:visited {color: blue; text-decoration: none;}
a:hover {color: blue; text-decoration: underline;}
li ul, li ol {margin:0;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}


/* Sections */
#header {
    background-color: cornflowerblue;
}

#header div {
    height: 100%;
}

#main {
    /* ____ */
}

#footer {
    background-color: cornflowerblue;

}

#footer div {
    height: 100%;
}

/* Custom Classes */
.top {margin-top:0;padding-top:0;}
.right {float:right !important;}
.bottom {margin-bottom:0;padding-bottom:0;}
.left {float:left !important;}

.header-text {height: 60px; padding-top: 10px; padding-bottom: 10px}
.header-text p {margin: auto; padding-left: 50px; color: #222222}